* {
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

body {
  background-color: #222831;
  color: white;
}

.btn {
  background-color: #00adb5;
}

a {
  color: white !important;
}

.active {
  color: #00adb5 !important;
  border-bottom: 1px solid #00adb5;
}

h3::before {
  content: "#";
  color: #00adb5;
  margin-right: 4px;
  font-weight: lighter;
}

pop {
  color: #00adb5;
  font-weight: bold;
}

.img-thumbnail {
  background-color: #393e4683 !important;
  backdrop-filter: blur(16px) saturate(180%);
  border: none !important;
}

a {
  cursor: pointer;
}

a:hover {
  color: #00adb5 !;
}

.list-projects > div {
  background-color: #393e4683;
  backdrop-filter: blur(16px) saturate(180%);
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  transform: scale(1.038);
}

body::-webkit-scrollbar {
  width: 0.3em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #00adb5;
  outline: 1px solid slategrey;
  border-radius: 5px;
}

::selection {
  background: #00adb5;
}
